header {
    position: relative;
    
    // background-image: url('https://source.unsplash.com/128x640/?flower,girl');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;

    width: 100%;
    text-align: center;
    background-color: var(--bg-deep);
    box-shadow: var(--text-shadow);
    padding: 8px 16px;
    
    @include flex(row, center, space-between, 12px);
    
    & > div.container {
        .logo {
            font-size: var(--font-xlarge);
            font-weight: bold;
        }

        button {
            background-color: unset;
            color: var(--font-color);
            font-size: var(--font-xlarge);
            
            &:hover {
                color: var(--theme);
            }
        }
    }
    

    #open-user-setting {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;    
        background-color: var(--transparent);
        z-index: 9;

        display: none;
        
        &.show {
            @include flex(row, center, center, 12px);
        }

        & > .container {
            position: relative;
            background-color: var(--bg-deep);
            border-radius: var(--radius);
            font-size: 16px;
            padding: 12px;

            display: flex;
            
            fieldset {
                width: 100%;
                padding: 12px;

                legend {
                    font-size: 16px;
                    padding: 12px;
                }

                label input, button {
                    padding: 4px 8px;
                    border-radius: var(--radius);
                }

                label input {
                    width: 48px;
                }

                button {
                    background-color: var(--theme-dark);
                    color: var(--font-color);
                    text-shadow: var(--text-shadow);
                    
                    &:hover {
                        background-color: var(--theme);
                    }
                }
            }
            
            .close-setting {
                @include closebtn();
            }
        }
    }
}