main {
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "temp inbox" 
    "temp inbox";
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(2, min-content);
    grid-gap: 4px;

    @media screen and (max-width: 768px) {
        grid-template-areas: 
        "temp" 
        "inbox";
        grid-template-columns: 100%;
        grid-template-rows: 100%;

        .temp { grid-area: temp; }
        .inbox { grid-area: inbox; }
    }
    
    .temp {
        grid-area: temp;
        border-radius: var(--radius);
        
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        
        .premium {
            width: 100%;
            background-color: var(--bg-deep);
            padding: 8px;
            
            @include flex(row, center, space-between, 12px);

            .countdown {
                @include flex(row, center, center, 4px);
                
                #countdown {
                    color: var(--font-color);
                    font-size: var(--font-large);
                }
            }
            
            & > span {
                display: flex;
                align-items: stretch;
                justify-content: space-between;

                p {
                    font-size: var(--font-small);
                    
                    button {
                        background-color: var(--theme-dark);
                        border: 0;
                        border-radius: var(--radius);
                        color: var(--font-color);
                        font-size: var(--font-small);
                        padding: 4px;
                        
                        &:hover {
                            background-color: var(--theme);
                        }
                    }
                }
            }
        }
        
        ul {
            list-style-type: none;
            width: 100%;
            max-height: 320px;
            overflow: scroll;
            padding: 4px;

            display: flex;
            flex-direction: column;
            gap: 4px;

            &::-webkit-scrollbar { 
                width: 8px; 
                height: 8px; 
            }
            
            li {
                position: relative;
                background-color: var(--transparent);
                border-radius: var(--radius);
                color: var(--font-color);
                font-size: var(--font-small);
                padding: 4px;
                cursor: pointer;

                @include flex(row, center, space-between, 4px);
                
                &:hover { background-color: var(--theme); }
                &.active { background-color: var(--theme-dark); }
                
                div {
                    &.mail {
                        &::after { 
                            @include masking();
                        }
                    }

                    &::before {
                        content: '+ ';
                        font-weight: bold;
                    }
                }

                button.delete {
                    position: relative;
                    background-color: unset;
                    color: var(--font-color);
                    font-size: var(--font-xsmall);
                    text-shadow: var(--text-shadow);
                    z-index: 8;

                    &::after { 
                        @include masking();
                    }

                    &:hover {
                        color: var(--btn-danger);
                    }
                }
            }
        }

        #create {
            position: relative;
            width: 100%;
            overflow: hidden;
            padding: 12px 8px;

            &.create {
                .slider {
                    left: calc(-100% - 4px);
                }
            }

            .slider {
                position: relative;
                top: 0;
                left: 2px;
                width: 200%;
                transition: .3s;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 12px;

                span {
                    width: 100%;
                    border: 2px dashed var(--color);
                    border-radius: var(--radius);
                    padding: 4px;
                    cursor: pointer;
                
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;

                    &#this-new-mail {
                        display: grid;
                        grid-template-areas: "label label" "btn1 btn2";
                        label { grid-area: label; }
                        button:nth-child(2) { grid-area: btn1; }
                        button:nth-child(3) { grid-area: btn2; }
                    }
                    
                    label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 4px;
                        
                        input[type="text"] {
                            background-color: unset;
                            border: 0;
                            color: var(--color);
                            padding: 4px 0 4px 8px;
                            text-align: right;
                        }
                    }
                    
                    button {
                        padding: 4px 8px;
                        cursor: pointer;
                    }
    
                    img { 
                        width: 24px; 
                        filter: invert(100%);
                    }
        
                    p {
                        color: var(--color);
                        margin-left: 8px;
                    }
                }
            }

        }
    }
    
    .inbox {
        grid-area: inbox;
        width: 100%;
        border-radius: var(--radius);

        display: flex;
        flex-direction: column;
        
        .head {
            color: var(--color);
            font-size: var(--font-medium);
            padding: 12px;
            
            @include flex(row, center, flex-start, 8px);
        }
        
        .msn {
            position: relative;
            background-color: var(--bg-middle);
            width: 100%;
            height: 420px;
            padding: 12px;

            @media screen and (max-width: 768px) {
                height: 360px;
            }
    
            .no_message {
                background-color: var(--transparent);
                border: 1.5px dashed var(--bg-deep);
                border-radius: var(--radius);
                width: 100%;
                height: 100%;
                
                @include flex(row, center, center, 8px);
                
                p {
                    font-weight: bold;
                    color: var(--font-color);
                    font-size: var(--font-large);
                }
            }

            .new_message {
                border: 1.5px dashed var(--bg-deep);
                border-radius: var(--radius);
                width: 100%;
                height: min-content;
                
                display: grid;
                grid-template-areas: 
                "new_from new_justnow" 
                "new_email new_readmore";
                grid-template-columns: 80% 20%;
                grid-template-rows: repeat(2, 20px);
                padding: 4px;

                .new_from, .new_email, .new_justnow, .new_readmore { 
                    font-size: var(--font-small);
                }

                .new_from { grid-area: new_from; }
                .new_justnow { 
                    grid-area: new_justnow; 
                    text-align: right;
                }
                .new_email { grid-area: new_email; }
                .new_readmore { 
                    grid-area: new_readmore; 
                    text-align: right;
                }
            }
        }
    }
}