@import 'header', 'main', 'footer';

:root {
    --bg: rgba(0,0,0,0.4);
    --color: white;
    --shadow: .5px .5px .5px #0f0f0f;
    --theme: #0e0e0e;
    --transparent: rgba(225,225,225,0.4);
    --radius: 4px;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar { 
    width: 1px; 
    height: 1px; 
}
::-webkit-scrollbar-track { 
    border-radius: 1px; 
}
::-webkit-scrollbar-thumb { 
    background: grey; 
    border-radius: 1px; 

    &:hover { 
        background: grey; 
    }
}

body {
    background-color: #333;
    width: 100vw;
    color: var(--color);
    text-shadow: var(--shadow);
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    
    display: grid;
    grid-template-areas: "header" "main" "aside" "footer";
    grid-template-rows: 76px repeat(2, min-content) 10vh;
    grid-gap: 12px;
    
    @media screen and (max-width: 768px) {
        grid-template-areas: "header" "main" "aside" "footer";

        header { grid-area: header; }
        main {
            grid-area: main;
            width: 100%;
            margin: auto;
            display: grid;
            grid-template-areas: 
            "temp" 
            "inbox";
            grid-template-columns: 100%;
            grid-template-rows: max-content;
            grid-gap: 4px;

            .temp { grid-area: temp; }
            .inbox { grid-area: inbox; }
        }
        aside { grid-area: aside; }
        footer { grid-area: footer; }
    }
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
    display: grid;
    grid-template-areas: "s1 s2 s3 s4";
    grid-template-columns: repeat(4, 176px);
    grid-template-rows: min-content;
    grid-gap: 12px;
    align-items: center;
    justify-content: center;
    padding: 4px;

    @media screen and (max-width: 768px) {
        grid-template-areas: "s1 s2" "s3 s4";
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(2, min-content);

        .sect-first { grid-area: s1; }
        .sect-second { grid-area: s2; }
        .sect-third { grid-area: s3; }
        .sect-forth { grid-area: s4; }
    }

    .sect-first { grid-area: s1; }
    .sect-second { grid-area: s2; }
    .sect-third { grid-area: s3; }
    .sect-forth { grid-area: s4; }

    .sect-first, .sect-second, .sect-third, .sect-forth {
        background-color: var(--bg);
        border: 1px solid var(--theme);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-gap: 8px;
        padding: 8px;
        
        img {
            max-width: 64px;
            max-height: 64px;
            filter: invert(100%);
        }

        p {
            min-height: 96px;
            color: var(--color);
            font-size: 10px;
            text-align: center;
        }
    }

}

footer {
    grid-area: footer;
}

.allow-cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: var(--theme);
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    p {
        font-size: 12px;
        a {
            color: gold;
        }
    }
    
    button {
        background-color: var(--color);
        border: 0;
        padding: 4px 12px;
        border-radius: 4px;
        cursor: pointer;
    }
}

