@import 'root', 'header', 'main', 'footer';


body {
    background-color: var(--bg-deep);
    width: 100vw;
    color: var(--font-color);
    text-shadow: var(--text-shadow);
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    
    display: grid;
    grid-template-areas: "header" "main" "aside" "footer";
    grid-template-rows: min-content repeat(2, min-content) 10vh;
    grid-gap: 12px;
    
    @media screen and (max-width: 768px) {
        grid-template-areas: "header" "main" "aside" "footer";

        header { grid-area: header; }
        main {
            grid-area: main;
            width: 100%;
            margin: auto;
            display: grid;
            grid-template-areas: 
            "temp" 
            "inbox";
            grid-template-columns: 100%;
            grid-template-rows: max-content;
            grid-gap: 4px;

            .temp { grid-area: temp; }
            .inbox { grid-area: inbox; }
        }
        aside { grid-area: aside; }
        footer { grid-area: footer; }
    }
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

aside {
    grid-area: aside;
    padding: 8px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
    grid-gap: 8px;
    
    align-items: center;
    justify-content: center;
    
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(2, min-content);
    }
    
    div {
        height: 128px;
        background-color: var(--bg-deep);
        border: 1px solid var(--theme);
        border-radius: var(--radius);
        font-size: var(--font-xsmall);
        text-align: center;
        text-shadow: var(--text-shadow);
        padding: 8px;
    
        @include flex(row, center, center, 12px);
    }
}

footer {
    grid-area: footer;
}

.allow-cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: var(--bg-deep);
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    p {
        font-size: var(--font-small);
        a {
            color: var(--theme);
        }
    }
    
    button {
        background-color: var(--theme-dark);
        border-radius: 4px;
        color: var(--font-color);
        font-weight: bold;
        padding: 4px 12px;
        cursor: pointer;
        
        &:hover {
            background-color: var(--theme);
        }
    }
}

