header {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: var(--theme);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header div {
  margin: auto;
}

header div:nth-child(n+0) {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 8px;
  color: var(--color);
}

header div:nth-child(1) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 32px;
  font-weight: bold;
}

header div:nth-child(2) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: bold;
}

header div:nth-child(2) img {
  width: 24px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

header #open-user-setting {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--transparent);
  z-index: 9;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #open-user-setting.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #open-user-setting .container {
  position: relative;
  background-color: var(--theme);
  border-radius: var(--radius);
  font-size: 16px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #open-user-setting .container fieldset {
  width: 100%;
  padding: 12px;
}

header #open-user-setting .container fieldset legend {
  font-size: 16px;
  padding: 12px;
}

header #open-user-setting .container .close-setting {
  position: absolute;
  top: 0;
  right: -48px;
}

main {
  width: 100%;
  height: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "temp inbox"  "temp inbox";
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: (min-content)[2];
      grid-template-rows: repeat(2, -webkit-min-content);
      grid-template-rows: repeat(2, min-content);
  grid-gap: 4px;
}

@media screen and (max-width: 768px) {
  main {
        grid-template-areas: "temp"  "inbox";
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  main .temp {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: temp;
  }
  main .inbox {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: inbox;
  }
}

main .temp {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: temp;
  background-color: var(--bg);
  border-radius: var(--radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

main .temp .premium {
  width: 100%;
  background-color: var(--theme);
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
}

main .temp .premium .countdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .temp .premium .countdown img {
  width: 24px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

main .temp .premium .countdown #countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-30%, -40%);
          transform: translate(-30%, -40%);
  color: var(--theme);
  font-size: 12px;
  z-index: 1;
}

main .temp .premium > span {
  border: 1px solid var(--theme);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .temp .premium > span p {
  font-size: 12px;
}

main .temp .premium > span p button {
  background-color: gold;
  border: 0;
  border-radius: var(--radius);
  color: var(--theme);
  font-size: 12px;
  padding: 4px;
}

main .temp ul {
  list-style-type: none;
  width: 100%;
  max-height: 320px;
  overflow: scroll;
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

main .temp ul::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

main .temp ul::-webkit-scrollbar-thumb {
  background: yellow;
}

main .temp ul li {
  position: relative;
  background-color: var(--transparent);
  border-radius: var(--radius);
  font-size: 14px;
  padding: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 12px;
}

main .temp ul li .mail::before {
  content: '+ ';
  font-weight: bold;
}

main .temp ul li div.editor {
  position: absolute;
  top: 0;
  right: 0;
}

main .temp ul li div.editor button {
  border: 0;
  border-radius: var(--radius);
  padding: 2px 2px 0 2px;
  cursor: pointer;
  background-color: var(--color);
  color: var(--theme);
  margin: 1px;
}

main .temp ul li div.editor button img {
  width: 16px;
}

main .temp #create {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 12px 8px;
}

main .temp #create.create .slider {
  left: calc(-100% - 4px);
}

main .temp #create .slider {
  position: relative;
  top: 0;
  left: 2px;
  width: 200%;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 12px;
}

main .temp #create .slider span {
  width: 100%;
  border: 2px dashed var(--color);
  border-radius: var(--radius);
  padding: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

main .temp #create .slider span#this-new-mail {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "label label" "btn1 btn2";
}

main .temp #create .slider span#this-new-mail label {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: label;
}

main .temp #create .slider span#this-new-mail button:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: btn1;
}

main .temp #create .slider span#this-new-mail button:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: btn2;
}

main .temp #create .slider span label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
}

main .temp #create .slider span label input[type="text"] {
  background-color: unset;
  border: 0;
  color: var(--color);
  padding: 4px 0 4px 8px;
  text-align: right;
}

main .temp #create .slider span button {
  padding: 4px 8px;
  cursor: pointer;
}

main .temp #create .slider span img {
  width: 24px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

main .temp #create .slider span p {
  color: var(--color);
  margin-left: 8px;
}

main .inbox {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: inbox;
  width: 100%;
  border: 1px solid var(--theme);
  border-radius: var(--radius);
  -webkit-box-shadow: var(--bg);
          box-shadow: var(--bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .inbox .head {
  background-color: var(--theme);
  color: var(--color);
  font-size: 16px;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 8px;
}

main .inbox .head img {
  width: 24px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

main .inbox .msn {
  position: relative;
  background-color: rgba(250, 250, 250, 0.8);
  width: 100%;
  height: 420px;
  padding: 12px;
}

@media screen and (max-width: 768px) {
  main .inbox .msn {
    height: 360px;
  }
}

main .inbox .msn .no_message {
  background-color: var(--transparent);
  border: 1.5px dashed var(--bg);
  border-radius: var(--radius);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .inbox .msn .no_message p {
  font-weight: bold;
  color: var(--theme);
  font-size: 24px;
}

main .inbox .msn .new_message {
  background-color: var(--theme);
  border: 1.5px dashed var(--bg);
  border-radius: var(--radius);
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "new_from new_justnow"  "new_email new_readmore";
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  -ms-grid-rows: (20px)[2];
      grid-template-rows: repeat(2, 20px);
  padding: 4px;
}

main .inbox .msn .new_message .new_from, main .inbox .msn .new_message .new_email, main .inbox .msn .new_message .new_justnow, main .inbox .msn .new_message .new_readmore {
  font-size: 12px;
}

main .inbox .msn .new_message .new_from {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: new_from;
}

main .inbox .msn .new_message .new_justnow {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: new_justnow;
  text-align: right;
}

main .inbox .msn .new_message .new_email {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: new_email;
}

main .inbox .msn .new_message .new_readmore {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: new_readmore;
  text-align: right;
}

footer {
  background-color: var(--theme);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  font-size: 14px;
}

:root {
  --bg: rgba(0,0,0,0.4);
  --color: white;
  --shadow: .5px .5px .5px #0f0f0f;
  --theme: #0e0e0e;
  --transparent: rgba(225,225,225,0.4);
  --radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

body {
  background-color: #333;
  width: 100vw;
  color: var(--color);
  text-shadow: var(--shadow);
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "aside" "footer";
  -ms-grid-rows: 76px (min-content)[2] 10vh;
      grid-template-rows: 76px repeat(2, -webkit-min-content) 10vh;
      grid-template-rows: 76px repeat(2, min-content) 10vh;
  grid-gap: 12px;
}

@media screen and (max-width: 768px) {
  body {
        grid-template-areas: "header" "main" "aside" "footer";
  }
  body header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  body main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
    width: 100%;
    margin: auto;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "temp"  "inbox";
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: max-content;
        grid-template-rows: -webkit-max-content;
        grid-template-rows: max-content;
    grid-gap: 4px;
  }
  body main .temp {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: temp;
  }
  body main .inbox {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: inbox;
  }
  body aside {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: aside;
  }
  body footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer;
  }
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

aside {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: aside;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "s1 s2 s3 s4";
  -ms-grid-columns: (176px)[4];
      grid-template-columns: repeat(4, 176px);
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  grid-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px;
}

@media screen and (max-width: 768px) {
  aside {
        grid-template-areas: "s1 s2" "s3 s4";
    -ms-grid-columns: (45%)[2];
        grid-template-columns: repeat(2, 45%);
    -ms-grid-rows: (min-content)[2];
        grid-template-rows: repeat(2, -webkit-min-content);
        grid-template-rows: repeat(2, min-content);
  }
  aside .sect-first {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: s1;
  }
  aside .sect-second {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: s2;
  }
  aside .sect-third {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: s3;
  }
  aside .sect-forth {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: s4;
  }
}

aside .sect-first {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: s1;
}

aside .sect-second {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: s2;
}

aside .sect-third {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: s3;
}

aside .sect-forth {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: s4;
}

aside .sect-first, aside .sect-second, aside .sect-third, aside .sect-forth {
  background-color: var(--bg);
  border: 1px solid var(--theme);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 8px;
  padding: 8px;
}

aside .sect-first img, aside .sect-second img, aside .sect-third img, aside .sect-forth img {
  max-width: 64px;
  max-height: 64px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

aside .sect-first p, aside .sect-second p, aside .sect-third p, aside .sect-forth p {
  min-height: 96px;
  color: var(--color);
  font-size: 10px;
  text-align: center;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

.allow-cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: var(--theme);
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.allow-cookie p {
  font-size: 12px;
}

.allow-cookie p a {
  color: gold;
}

.allow-cookie button {
  background-color: var(--color);
  border: 0;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */