:root {
    --bg: rgba(0,0,0,0.4);
    --color: white;
    --shadow: .5px .5px .5px #0f0f0f;
    --theme: #0e0e0e;
    --transparent: rgba(225,225,225,0.4);
  }
* {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar { 
    width: 1px; 
    height: 1px; 
    }
::-webkit-scrollbar-thumb:hover { 
    background: grey; 
    }
::-webkit-scrollbar-track { 
    border-radius: 1px; 
    }
::-webkit-scrollbar-thumb { 
    background: grey; 
    border-radius: 1px; 
    }

body {
    background-color: #333;
    width: 100vw;
    color: var(--color);
    text-shadow: var(--shadow);
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

#content {
    display: grid;
    grid-template-areas: "header" "main" "section" "footer";
    grid-template-rows: 76px repeat(2, min-content) 10vh;
    grid-gap: 12px;
    
    @media screen and (max-width: 768px) {
        grid-template-areas: "header" "main" "section" "footer";

        header { grid-area: header; }
        main {
            grid-area: main;
            width: 100%;
            margin: auto;
            display: grid;
            grid-template-areas: 
            "temp" 
            "inbox";
            grid-template-columns: 100%;
            grid-template-rows: max-content;
            grid-gap: 4px;

            .temp { grid-area: temp; }
            .inbox { grid-area: inbox; }
        }
        section { grid-area: section; }
        footer { grid-area: footer; }
    }
}

header {
    // background-image: url('https://source.unsplash.com/128x640/?flower,girl');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;

    grid-area: header;
    width: 100%;
    text-align: center;
    background-color: var(--theme);
    box-shadow: var(--shadow);

    display: flex;
    align-items: center;
    justify-content: center;
    
    div {
        margin: auto;

        &:nth-child(n+0) {
            width: 45%;
            display: flex;
            align-items: center;
            grid-gap: 8px;
            
            color: var(--color);
        }
        
        &:nth-child(1) {
            justify-content: start;
            font-size: 32px;
            font-weight: bold;
        }
        &:nth-child(2) {
            justify-content: flex-end;
            font-weight: bold;

            img {
                width: 24px;
                filter: invert(100%);
            }

            select {
                color: var(--theme);
                background-color: var(--color);
                border: 0;
                font-size: 12px;
                padding: 8px;
            }
        }
    }
    
}

main {
    grid-area: main;
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "temp inbox" 
    "temp inbox";
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(2, min-content);
    grid-gap: 4px;

    @media screen and (max-width: 768px) {
        grid-template-areas: 
        "temp" 
        "inbox";
        grid-template-columns: 100%;
        grid-template-rows: 100%;

        .temp { grid-area: temp; }
        .inbox { grid-area: inbox; }
    }
    
    .temp {
        grid-area: temp;
        background-color: var(--bg);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;

        .premium {
            width: 100%;
            height: 44px;
            background-color: var(--theme);
            display: flex;
            align-items: center;
            justify-content: center;
            
            div {
                width: 95%;
                border: 1px solid var(--theme);
                display: flex;
                align-items: stretch;
                justify-content: space-between;

                p {
                    font-size: 12px;
                    
                    button {
                        background-color: gold;
                        border: 0;
                        border-radius: 4px;
                        color: var(--theme);
                        font-size: 12px;
                        padding: 4px;
                    }
                }
            }
        }
        
        ul {
            list-style-type: none;
            width: 100%;

            li {
                background-color: var(--transparent);
                border-radius: 4px;
                margin: 4px;
                display: grid;
                grid-template-areas: 
                "list mail notif" "list editor editor";
                grid-template-columns: 10% 80% 10%;
                grid-template-rows: repeat(2, 50%);
                
                div {
                    
                    &.list {
                        grid-area: list;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        img {
                            width: 24px;
                            filter: invert(100%);
                        }
                        
                        #countdown {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-30%, -40%);
                            color: var(--theme);
                            font-size: 12px;
                            z-index: 1;
                        }
                    }
                    &.mail {
                        grid-area: mail;
                        padding: 4px 12px;
                        position: relative;
                        top: 8px;
                        overflow: hidden;
                        text-transform: lowercase;
                    }
                    &.notif {
                        grid-area: notif;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        img {
                            width: 20px;
                            filter: invert(100%);
                        }

                        #new-notif {
                            color: var(--color);
                            display: none;
                        }
                    }
                    
                    &.editor {
                        grid-area: editor;
                        display: flex;
                        align-items: start;
                        justify-content: flex-end;

                        button {
                            border: 0;
                            border-radius: 4px;
                            padding: 2px 2px 0 2px;
                            cursor: pointer;
                            background-color: var(--color);
                            color: var(--theme);
                            margin: 1px;
                            
                            img {
                                width: 16px;
                            }
                        }
                    }
                }
                
                &:last-child {
                    background-color: rgba(0,0,0,0);
                    padding: 4px;
                    display: grid;
                    grid-template-areas: "clear create";
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    grid-gap: 4px;
                    
                    div {
                        border: 1px dashed var(--color);
                        border-radius: 4px;
                        cursor: pointer;

                        &.clear { grid-area: clear; }
                        &.create { grid-area: create; }
                        
                        &.clear, &.create {
                            display: flex;
                            align-items: center;
                            justify-content: center;
    
                            img { 
                                width: 24px; 
                                filter: invert(100%);
                            }

                            p {
                                color: var(--color);
                                margin-left: 8px;
                            }
                        }
                    }  
                }
            }
        }
    }
    
    .inbox {
        grid-area: inbox;
        width: 100%;
        border: 1px solid var(--theme);
        border-radius: 4px;
        box-shadow: var(--bg);
        display: flex;
        flex-direction: column;
        
        .head {
            background-color: var(--theme);
            color: var(--color);
            font-size: 16px;
            padding: 12px;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            grid-gap: 8px;
            
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                grid-gap: 12px;
                text-transform: lowercase;

                img {
                    width: 24px;
                    filter: invert(100%);
                }
            }
        }
        
        .msn {
            position: relative;
            background-color: rgba(250,250,250,0.8);
            width: 100%;
            height: 420px;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
            padding: 12px;

            @media screen and (max-width: 768px) {
                height: 360px;
            }
    
            .no_message {
                background-color: var(--transparent);
                border: 1.5px dashed var(--bg);
                border-radius: 12px;
                width: 94%;
                height: 94%;
                display: flex;
                align-items: center;
                justify-content: center;
                
                p {
                    font-weight: bold;
                    color: var(--theme);
                    font-size: 24px;
                }
            }

            .new_message {
                background-color: var(--theme);
                border: 1.5px dashed var(--bg);
                border-radius: 4px;
                width: 94%;
                height: min-content;
                // display: flex;
                // align-items: center;
                // justify-content: center;
                display: grid;
                grid-template-areas: 
                "new_from new_justnow" 
                "new_email new_readmore";
                grid-template-columns: 80% 20%;
                grid-template-rows: repeat(2, 20px);
                padding: 4px;

                .new_from, .new_email, .new_justnow, .new_readmore { 
                    font-size: 12px;
                }

                .new_from { grid-area: new_from; }
                .new_justnow { 
                    grid-area: new_justnow; 
                    text-align: right;
                }
                .new_email { grid-area: new_email; }
                .new_readmore { 
                    grid-area: new_readmore; 
                    text-align: right;
                }
            }
        }
    }
}

section {
    grid-area: section;
    display: grid;
    grid-template-areas: "s1 s2 s3 s4";
    grid-template-columns: repeat(4, 176px);
    grid-template-rows: min-content;
    grid-gap: 12px;
    align-items: center;
    justify-content: center;
    padding: 4px;

    @media screen and (max-width: 768px) {
        grid-template-areas: "s1 s2" "s3 s4";
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(2, min-content);

        .sect-first { grid-area: s1; }
        .sect-second { grid-area: s2; }
        .sect-third { grid-area: s3; }
        .sect-forth { grid-area: s4; }
    }

    .sect-first { grid-area: s1; }
    .sect-second { grid-area: s2; }
    .sect-third { grid-area: s3; }
    .sect-forth { grid-area: s4; }

    .sect-first, .sect-second, .sect-third, .sect-forth {
        background-color: var(--bg);
        border: 1px solid var(--theme);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-gap: 8px;
        padding: 8px;
        
        img {
            max-width: 64px;
            max-height: 64px;
            filter: invert(100%);
        }

        p {
            min-height: 96px;
            color: var(--color);
            font-size: 10px;
            text-align: center;
        }
    }

}

footer {
    grid-area: footer;
    background-color: var(--theme);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-size: 14px;
    }
}

#cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: var(--theme);
    display: flex;
    align-items: center;
    justify-content: center;
    
    div {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            font-size: 12px;
            a {
                color: gold;
            }
        }
        
        button {
            background-color: var(--color);
            border: 0;
            padding: 4px 12px;
            border-radius: 4px;
        }
    }
}


.maintenance {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    
    div {
        background-color: var(--color);
        color: var(--theme);
        font-size: 32px;
        padding: 16px;
        border-radius: 4px;
        text-align: center;
        text-shadow: var(--shadow);
    }
}